#artemisSpeech, #artemisChoices {
	background: #489dff;
}

#zeffSpeech, #zeffChoices {
	background: #a3d771;
}

#artemisSpeech, #zeffSpeech {
	line-height: 1.3em;
}

#artemisChoices, #zeffChoices {
	font-size: 0.8em;
	line-height: 1.3em;
}

#unselectable {
	opacity: 0.5;
}

#highlighted {
	opacity: 0.7;
}

#nextButton {
	font-size: 5em;
	line-height: 1.6em;
	text-align: center;
	background: #ed588d;
}

#narration {
	background: #9a6dff;
	line-height: 1.3em;
	text-align: center;
}

#wrapUpButtonGood {
	background: #86c351;
	font-size: 2em;
	line-height: 1.4em;
	text-align: center;
}

#wrapUpButtonNeutral {
	background: #fff67e;
	font-size: 2em;
	line-height: 1.4em;
	text-align: center;
}

#wrapUpButtonBad {
	background: #ff7964;
	font-size: 2em;
	line-height: 1.4em;
	text-align: center;
}

#backgroundEventButton {
	background: ##7f5d20;
	font-size: 1.3em;
	line-height: 1.0em;
	text-align: center;
}

#weirdnessLevelButton {
	background: #762c90;
	font-size: 1.4em;
	line-height: 1.3em;
	text-align: center;
}

#resetButton {
	background: #ab3862;
	font-size: 2em;
	line-height: 1.4em;
	text-align: center;
}

#band {
	font-size: 1.5em;
	line-height: 1.3em;
	text-align: center;
	background: #dc76ff;
}

#queuedTopics, #achievements {
	font-size: 0.8em;
	line-height: 1.3em;
	background: #747474;
}