@font-face {
	font-family: "Englebert";
	src: url('fonts/985198975-Englebert-regular.eot');
	src: url('fonts/985198975-Englebert-regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/985198975-Englebert-regular.svg#Englebert') format('svg'),
	url('fonts/985198975-Englebert-regular.woff') format('woff'),
	url('fonts/985198975-Englebert-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Englebert', 'sans-serif';
	font-size: 100%;
	color: #000;
}

a {
	text-decoration: none;
	color: #000;
}

#artemisSpeech, #zeffSpeech
{
	font-size: 6em;
	line-height: 1.3em;
	padding: 20px;
}

#artemisChoices, #zeffChoices
{
	font-size: 5em;
	line-height: 1.3em;
	padding: 20px;
}

#unselectable {
	opacity: 0.5;
}

#highlighted {
	opacity: 0.7;
}

#band
{
	font-size: 7em;
	line-height: 1.3em;
	text-align: center;
	padding: 20px;
}