body {
	overflow: hidden;
}

#titleBox {
	padding: 0 3%;
}

#title {
	font-family: 'Lobster', 'cursive';
	font-size: 4em;
	color: #ffdf8a;
}

#subtitle {
	font-size: 3em;
	color: #dedede;
}

#artemisContainer {
	padding: 5% 2% 5% 15%;
}

#zeffContainer {
	padding: 5% 15% 5% 2%;
}

.portrait {
	position: absolute;
	width: 37.5%;
	height: 56%;
}

#artemisPortrait {
	background-size: 100% auto;
	margin: 3% 0 0 -20%;
}

#zeffPortrait {
	background-size: 100% auto;
	margin: 3% 0 0 65%;
}

.artemis_amused { background: url('../img/artemis_amused.png'); }
.artemis_angry { background: url('../img/artemis_angry.png'); }
.artemis_annoyed { background: url('../img/artemis_annoyed.png'); }
.artemis_embarrassed { background: url('../img/artemis_embarrassed.png'); }
.artemis_happy { background: url('../img/artemis_happy.png'); }
.artemis_pleased { background: url('../img/artemis_pleased.png'); }
.artemis_sad { background: url('../img/artemis_sad.png'); }
.artemis_neutral { background: url('../img/artemis_neutral.png'); }

.zeff_amused { background: url('../img/zeff_amused.png'); }
.zeff_angry { background: url('../img/zeff_angry.png'); }
.zeff_annoyed { background: url('../img/zeff_annoyed.png'); }
.zeff_embarrassed { background: url('../img/zeff_embarrassed.png'); }
.zeff_happy { background: url('../img/zeff_happy.png'); }
.zeff_pleased { background: url('../img/zeff_pleased.png'); }
.zeff_sad { background: url('../img/zeff_sad.png'); }
.zeff_neutral { background: url('../img/zeff_neutral.png'); }

.name {
	position: absolute;
	height: auto;
	font-size: 1.8em;
	line-height: 1em;
	padding: 3% 3% 0;
}

#artemisName {
	background: #016fde;
	margin: 52% 30%;
}

#zeffName {
	background: #72bd02;
	margin: 52% 35%;
}

.choices {
	font-size: 0.9em;
	line-height: 1.3em;
}

#artemisChoices {
	padding: 5% 5% 5% 17%;
	background: #489dff;
}

#zeffChoices {
	padding: 5% 17% 5% 5%;
	background: #a3d771;
}

#unselectable {
	opacity: 0.5;
}

#highlighted {
	opacity: 0.7;
}

#narrationContainer {
	padding: 8%;
}

#narration {
	font-size: 2em;
	line-height: 1.3em;
	text-align: center;
	padding: 4%;
	background: #9a6dff;
}

#achievementContainer {
	padding: 2% 25%;
}

#achievement {
	background: #ffd44d;
	text-align: center;
	padding: 3% 8%;
}

#achievementTitle {
	font-size: 1.5em;
	line-height: 1.3em;
}

.star {
	background: url('../img/star.png');
	background-size: 100% auto;
	position: absolute;
	width: 6.25%;
	height: 47%;
}

#leftStar {
	margin: 1% 0 0 -2%;
}

#rightStar {
	margin: 1% 0 0 46%;
}

#preload {
	background-repeat: no-repeat;
	background-position: -9000px;
}